<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>Fabien Fleureau</title>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="http://bootswatch.com/2/readable/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43773572-1']);
  _gaq.push(['_setDomainName', 'fabienfleureau.fr']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<!-- 
OOOOOOOOOOOOOODMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNOOOOOOOOOOOOOOZ
OOOOOOOOOOOO8MMOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOMM8OOOOOOOOOOOOZ
OOOOOOOOOOOMMOOOOOOOOOOOOOOOOOOOZZOOOOOOOOZOOOOOOOOOOOOOOOOOOOOOOOMM8OOOOOOOOOOZ
OOOOOOOOODMNOOONMMMMMOOOOOOOOOMMMMMMMMMMMMMMMDOOOOOOMMMMOOOOOOOOOOONMDOOOOOOOOOZ
OOOOOOO8MMOOO8MM+$MDZOOOOONMMZ++++++++++++++++MMDOOOOMMMOOOOOOOOM8OOOMMOOOOOOOOZ
OOOOO8MM8OOOMM++MMZOOOOO8MO+++++++++++++++++++++NM8OOO8OOOOOOOOOMMMOZZ8MNOOOOOOZ
OOOO8MNZOONM=++MMOOOOOOOM+++++++++++++++++++++++++MDOOOOOOOOOOOOMD=MNOOZMM8OOOOZ
OOOMMOOOOMM+++MMOOOOOOOOM++++++++++++++++++++++++++MOOOOOOOOOOOOMD++MMOOOOMMOOOZ
ONM8OOOMM++++MNOOOOOOOOOMM=?+++++++++++++++++++++++NMOOOOOOOOOOOMD++++MMOZONM8OZ
OO8MOOOOM8++MMZOOOOOOOOOOOMMMM++++++++++++++++++++++MMMMMMMMMMMMMD+++MMOOONM8OOZ
OOO8MMOOZMM=MOOOOOOOOOOOOOOOOO8NMMMMMMMMMMMMMMMMMMMMI++++++++++++++=MNZOOMMOOOOZ
OOOO8NMOOO8MNOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOZ8NMMM=++++++++8MOOOOM8OOOOOZ
OOOOOO8MNOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOMMM+++++MMZOZMMOOOOOOOZ
OOOOOOO8MMOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOMM+=M8OOOMNOOOOOOOOZ
OOOOOOOOONMOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO8MMOOONM8OOOOOOOOOZ
OOOOOOOOOOOMNOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONOOOMM8OOOOOOOOOOZ
OOOOOOOOOOO8MMOZOMMMMMD8OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOMNOOOOOOOOOOOOZ
OOOOOOOOOOOOODMDOOOM$++=7DMMMMMMMMMMMMMMMMMMNDOOOOOOOZZOOOOOOOONM8OOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOMNZOOMM+++++++++++++++++++++=?$NMMMMMM8OOOOOZOOMM8OOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOMMOOOMM=+++I$$$$$7=++++++++++++++++++OMOOOOZ8MNOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOONMOOO8MMMMOOOOOOONMM++++++++++++++++MMOZOZNMOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOMNOOONOOOOOOOOOOZ8MZ+++++++++++OMMNOOOOMMOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOMMOZOOOOOOOOOOZOZOMMMMMMMMMMMDOOOOOO8MDOOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOO8MNOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOMMOOOOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOOO8MMOOOOOOOOOOOOOOOOOOOOOOOOOOOOOMM8OOOOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOOOO8NMOOODMMMNDOOOOOOOOOO8NMMOOONM88OOOOOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOOOOOO8MNOOOMM+=7NMMMMMMN$=MMOOOMMOOOOOOOOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOOOOOOOOMMOOOMM=+++++++++8M8OOOMNOOOOOOOOOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOOOOOOOOOMMOOONM++++++++NMOZODM8OOOOOOOOOOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOOOOOOOOOO8MNOZOMD?++++MMOZOMM8OOOOOOOOOOOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOMMOOOMM?+IMDOOOMN8OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONMOOO8MMMOOOMMOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO8MNOZZMZOOMMOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOMMOOOO8MDOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOONMOOMM8OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOMMMOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOZ
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO8OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOZ
 -->
 <body ng-app="fabienfleureauApp" ng-controller="MainController">
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<ul class="nav" ng-init="page = 'home'">
				<li ng-class="{active:page==='home'}">
					<a href="#/home" ng-click="page = 'home'"><span class="fa fa-user"></span>&#xA0;CV</a>
				</li>
				<li ng-class="{active:page==='news'}">
					<a href="#/news" ng-click="page = 'news'"><span class="fa fa-twitter"></span>&#xA0;News</a>
				</li>
				<li ng-class="{active:page==='portfolio'}">
					<a href="#/portfolio" ng-click="page = 'portfolio'"><span class="fa fa-desktop"></span>&#xA0;Portfolio</a>
				</li>
				<li ng-class="{active:page==='contact'}">
					<a href="#/contact" ng-click="page = 'contact'"><span class="fa fa-envelope"></span>&#xA0;Contact</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<h1>Fabien Fleureau</h1>
				<img height="210"
					src="https://secure.gravatar.com/avatar/fcfbbb1f446ffe5cadbbeb893c53a5d1?s=420&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"
					width="210"
					alt="gravatar"> <br>
				<p class="view">
					<a href="https://github.com/fabienfleureau">GitHub Profile</a>
				</p>
				<p class="view">
					<a href="http://fr.viadeo.com/fr/profile/fabien.fleureau">Viadeo
						Profile</a>
				</p>
				<p class="view">
					<a href="http://www.linkedin.com/pub/fabien-fleureau/38/170/35">Linkedin
						Profile</a>
				</p>
				<p class="view">
					<a href="http://www.doyoubuzz.com/fabien-fleureau">Doyoubuzz
						Profile</a>
				</p>
			</div>
			<div class="span6 offset1">
				<div ng-view=""></div>
			</div>
		</div>
	</div>
	<footer>
		<div align="right">
			<p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a></small></p>
		</div>
	</footer>
	<!-- 	<script src="javascripts/scale.fix.js"></script> -->
	<script type="text/javascript"
		src= "bower_components/angular/angular.min.js"></script>
	<script type="text/javascript"
		src= "bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript"
		src= "scripts/app.js"></script>
	<script type="text/javascript"
		src= "scripts/controller.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</body>
</html>
