<div class="bs-docs-example">
	<ul class="nav nav-tabs" ng-init="tab = 'experiences'">
		<li ng-class="{active:tab ==='experiences'}">
			<a ng-click="tab = 'experiences'">Expériences</a>
		</li>
		<li ng-class="{active:tab ==='competences'}">
			<a ng-click="tab = 'competences'">Compétences</a>
		</li>
		<li ng-class="{active:tab ==='formation'}">
			<a ng-click="tab = 'formation'">Formation</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade in" ng-class="{active:tab ==='experiences'}">
			<h3>Ingénieur R&amp;D Java</h3>
			<h4>Do You Dream Up</h4>
			Bordeaux - France (CDI Depuis avril 2015)
			<h5>Description de l'entreprise</h5>
			Do You Dream Up édite une plateforme de création, de gestion et de suivi de chat automatique, de live chat et de gestion de FAQ dynamique.<br>
			Site web: <a href="https://www.doyoudreamup.com/">https://www.doyoudreamup.com/</a>
			<h3>Ingénieur R&amp;D Java</h3>
			<h4>Netfective Technology</h4>
			Pessac - France (CDI octobre 2011 - mars 2015)
			<h5>Missions</h5>
			<ul>
				<li>Maintenance corrective et évolutive dans le cadre de
					l'industrialisation du produit BluAge.</li>
				<li>Etude et conception de processus de reprise de langages
					"legacy" (COBOL, Delphi,...)</li>
				<li>Etude et réalisation de la migration du gestionnaire de
					sources CVS vers Git. Formation des utilisateurs.</li>
			</ul>
			<h5>Détails de l'expérience - Points techniques</h5>
			<ul>
				<li>Développement en Java de plugins sur Eclipse RCP.</li>
				<li>Développement dirigé par les modèles.(Eclipse Modeling
					Project, EMF, Xtext, ATL)</li>
				<li>Travail collaboratif (CVS, Git)</li>
				<li>Gestion de projet (Jira)</li>
			</ul>
			<h5>Description de l'entreprise</h5>
			Netfective Technology édite BluAge, logiciel de modernisation et
			de génération d'applications dirigé par les modèles.<br>
			Site web: <a
				href="http://www.bluage.com/fr/fr_company/fr_board.html">http://www.bluage.com/fr/fr_company/fr_board.html</a>
			<h3>Assistant Recherche et Développement</h3>
			<h4>CEA Cesta</h4>
			Le Barp - France (Stage avril 2011 - septembre 2011)
			<h5>Missions</h5>
			<ul>
				<li>Développement dirigé par les modèles</li>
				<li>Benchmarking et calcul hautes performances</li>
			</ul>
		</div>
		<div class="tab-pane fade in" ng-class="{active:tab ==='competences'}">
			<h5>Développement et bases de données</h5>
			<ul>
				<li>Java, C, C++, OCaml, Ruby, Scala, Javascript, HTML/CSS</li>
				<li>Eclipse RCP, IDM, EMF, GMF, Standards MOF, DSL,
					Xtext</li>
				<li>Calcul parallèle: OpenMP, MPI, CUDA</li>
				<li>SQL, Oracle, Derby, NoSQL, MongoDB, OrientDB</li>
				<li>Big Data: Hadoop, ElasticSearch</li>
				<li>Gestion de projet, Méthodes agiles</li>
				<li>Travail collaboratif</li>
			</ul>
			<h5>Logiciels</h5>
			<ul>
				<li>Systèmes d'exploitation : Windows, Linux</li>
				<li>IDE : Eclipse, IntelliJ IDEA, Obeo Designer
				</li>
				<li>Bureautique : Pack Office</li>
			</ul>
			<h5>Réseaux</h5>
			<ul>
				<li>NAT, Firewall, NIS, NFS, SAMBA, LDAP, DNS, DHCP, VPN</li>
			</ul>
			<h5>Compétences diverses</h5>
			<ul>
				<li>Maintenance informatique</li>
			</ul>
			<h5>Langues</h5>
			<ul>
				<li>Anglais : bon niveau. TOEIC 980/990</li>
				<li>Espagnol : notions</li>
			</ul>
			<a href="img/competences.png">
				<img src="img/competences-thumbnail.png" class="img-thumbnail">
			</a>
		</div>
		<div class="tab-pane fade in" ng-class="{active:tab ==='formation'}">
			<h3>Master Informatique</h3>
			<h5>Université Bordeaux I</h5>
			septembre 2008 - juin 2011
			<ul>
				<li>Génie Logiciel - Conduite de projet</li>
				<li>option initiation a la recherche</li>
			</ul>
			<h3>Licence TIS</h3>
			<h5>Université de Poitiers</h5>
			septembre 2007 - juin 2008
			<ul>
				<li>Traitement de l'Information et du Signal</li>
				<li>Spécialisation Informatique, mention Bien</li>
			</ul>
			<h3>Ecole Nationale Supérieure de Physique de Strasbourg</h3>
			<h5>Université de Strasbourg</h5>
			septembre 2006 - juin 2007
			<ul>
				<li>1ere année</li>
			</ul>
			<h3>Classes préparatoires</h3>
			<h5>Lycée Descartes - Tours</h5>
			septembre 2004 - juin 2006
			<ul>
				<li>MPSI/MP</li>
			</ul>
			<h3>Baccalauréat Scientifique</h3>
			<h5>Lycée Rabelais - Chinon</h5>
			septembre 2001 - juin 2004
			<ul>
				<li>mention AB</li>
			</ul>
		</div>
	</div>
</div>
